/* CSS LAYOUTING - WebSederhana2 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* CSS SAYA */
body {
    background-color: antiquewhite;
    margin: 0; /* Hapus margin body untuk memastikan konten tidak bergeser */
}

.container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 1140px;
}

.header {
    padding: 5px 50px; /* Menggabungkan padding atas, kanan, kiri */
    background-color: white;
    display: flex;
    box-sizing:border-box;
    float:none;
    line-height:24px;
    position:static;
    z-index:auto;
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 50px;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 3px;
    
}

.top-menu a:hover {
    background-color: lightskyblue;
    color: white;
}
.main-menu a:hover{
    background-color: lightskyblue;
    color: white;
}

.pojok-kiri {
    display: flex;
    margin-left: 150px;
}

.navbar {
    display: flex;
    width: 677px;
    display: flex;
    flex-direction: column; /* Menentukan tata letak vertikal */
    /* align-items: center; Untuk membuat elemen sejajar tengah */
}

.top-menu{
    display: flex;
    flex-direction: column; /* Menentukan tata letak vertikal */
    align-items:flex-end; /* Untuk membuat elemen sejajar tengah */
    margin: 0; /* Menghapus margin yang mungkin ada */
    height: 30px;
}

.main-menu{
    display: flex;
    flex-direction: column; /* Menentukan tata letak vertikal */
    align-items:flex-end; /* Untuk membuat elemen sejajar tengah */
    margin: 0; /* Menghapus margin yang mungkin ada */
    height: 70px;
}
.logo_smp {
    display: flex;
    margin: 0;
    box-sizing:border-box;
    float:none;
    line-height:24px;
    position:relative;
    z-index:auto;
}

.nama_sekolah {
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 48px;
}

.slogan_sekolah {
    padding-left: 5px;
    display: flex;
    box-sizing:border-box;
    float:none;
    line-height:24px;
    position:relative;
    z-index:auto;
    
}

.head-button{
    width: 119px;
    height: 119px;
    background-image: url(circle.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -999999px;
    position: absolute;
    right: 210px;
    top:10px;
    padding:0;
}

.Dokumentasi{
    display: flex;
    height: 560px;
    width: 640px;
	background-image: url(content.jpg);
	background-size: cover;
	border-bottom: 5px solid lightskyblue;
	border-top: 5px solid salmon;
}
.main_Content{
    padding: 25px;
	width: 600px;
	box-sizing:border-box;
	float: left;
}
.side_Content{
    padding-top: 20px;
    padding: 20px;
	width: 300px;
	float: right;
}
.footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    grid-area: footer;
    color: white;
}

.footer .copy {
    color: #eaeaea;
    font-size: 12px;
}
